body{
    background-color: rgba(232, 138, 15, 0.122);
}
hr {
    border: none;
    border-top: 4px dotted rgba(20, 20, 20, 0.385);
    color: rgb(228, 14, 14);
    background-color: #F4EAD5;
    height: 1px;
    width: 50%;
  }

  h2, h4, h5, h6 {
    color: #e3600e;
  }
  p{
    color: blue;
  }

  li{
    color: rgb(67, 185, 106);
  }
  .headings {
    color: rgb(250, 83, 6);
  }

  #skillscolor1{
    color: #f106bea8;
  }

  .contact:hover{
  background-color: #4CAF50; /* Green */
  border: dotted;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  transition-duration: 0.1s;
  cursor: pointer;
  }



